@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{
color: #37323E !important;
}
/* Hero section */
section #logo{
  width: 85%;
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
section h1{
  font-size: 150px;
  margin-top: 160px;

}
#toCenter{
  text-align: center;
}
.on-Bottom{
  margin-bottom: 200px;
  font-family:"Open Sans", sans-serif ;
}
.center{
  display: flex;
  justify-content: center;
}
div h1{
  color: #019642;
  font-family: "Bebas Neue", sans-serif;
}
div h1 span{
  color: #010101;
}

/* About section */
.text1{
  display: flex;
  flex-direction: column !important;
}

#About {
  background-color: #F5F5F5;
}
#About div{
  display: flex;
  flex-direction: column;
  margin: 50px 10% 50px 10%;
}
#About div div{
  display: flex;
  flex-direction: row;
}

#About .img1 img{
  width: 100% ;
  border-radius: 5px;
} 
#About .img1{
  width: 200%;
  margin: 20px 0;
}
/* Subscription section */

#Subscription {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #F5FEFD; 
}

.subscription-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.subscription-container h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.subscription-container p {
  font-size: 16px;
  margin-bottom: 20px;
  color: #666;
}

.premium-subscription {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
}

.premium-subscription h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.premium-subscription ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.premium-subscription li {
  font-size: 16px;
  margin-bottom: 10px;
  color: #666;
}

.premium-subscription li:before {
  content: "\2713";
  font-size: 18px;
  color: #4CAF50;
  margin-right: 10px;
}

.subscribe-button {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.subscribe-button:hover {
  background-color: #3e8e41;
}

/* Contact section #F3F2ED*/

#SocialMedia {
  background-color: #F3F2ED; /* or any other background color you prefer */
  padding: 20px;
  text-align: center;
}

#SocialMedia h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

#SocialMedia ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

#SocialMedia li {
  margin: 0 20px;
}

#SocialMedia a {
  color: #333;
  text-decoration: none;
  transition: color 0.2s ease;
}

#SocialMedia a:hover {
  color: #666;
}

#SocialMedia svg {
  font-size: 24px;
  margin-right: 10px;
}


/* SVGs */
.custom-shape-divider-top-1727712980 {
  position: relative;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  margin-top: -10px; /* Adjust this value to remove extra spacing between sections */
  background-color: #F5FEFD;
}

.custom-shape-divider-top-1727712980 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-top-1727712980 .shape-fill {
  fill: #F5F5F5; /* You can adjust the color to fit your design */
}


.custom-shape-divider-bottom-1727714667 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1727714667 svg {
    position: relative;
    display: block;
    width: calc(190% + 1.3px);
    height: 170px;
}

.custom-shape-divider-bottom-1727714667 .shape-fill {
    fill: #F5F5F5;
}




.custom-shape-divider-top-1727715528 {
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1727715528 svg {
  position: relative;
  display: block;
  width: calc(116% + 1.3px);
  height: 194px;
}
@media (max-width: 768px){
  #About div div:first-child{
    flex-direction: column-reverse;
    margin-bottom: 0;
  }
  #About div:first-child{
    margin-bottom: 20px;
  }
  #About .img1 img{
    width: 50%;
  }
  
}
