.iframeContainer {
  width: 80%;
  height: 50%;
  margin: auto 0 50px 200px;
  position: relative;
}
.container-game {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  overflow-y: auto;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: auto;
}
